




<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OptikShop</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />




    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginvendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/loginfonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/login/css/main.css">
    <!--===============================================================================================-->
    <style>
        .resimSlider {
            height: 600px;
        }

        body {
            padding-top: 50px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,
        }

        .hakkimizda {
            background-color: #f2f2f2;
        }

        .ayrac {
            border: none;
            border-top: 3px solid #343a40;
            max-width: 250px;
            margin: 25px auto;
        }

        .ibeyaz {
            color: #343a40;
            position: relative;
            top: -55px;
            font-size: 40px;
            border: 10px solid white;
            background-color: white;
        }

        .igri {
            color: #343a40;
            position: relative;
            top: -55px;
            font-size: 40px;
            border: 10px solid #f2f2f2;
            background-color: #f2f2f2;
        }

        .figure:hover {
            opacity: 0.8;
        }

        .iletisim {
            background-color: #f2f2f2;
        }
    </style>



</head>
<body>
    <!-- menü kısmı başlangıç-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">OptikShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index" aria-current="page" >Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="About" asp-action="Index">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">Ürünler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">İletişim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  asp-area="Default" asp-controller="Login" asp-action="LoginForm"  ><i class="fa-regular fa-user"></i></a>
                    </li>

                </ul>
                
               
            </div>
        </div>
    </nav>
   
   

    @RenderBody()



    <!--menü  ksımı bitiş-->
  
    <!--Footer Başlangıç-->

    <div class="bg-dark text-light text-center ">
        <p class="align-middle p-5 mb-0">

            <span>Tüm Hakları Saklıdır &copy; | 2023</span> <br />
            <span>Design by <b> Ozzz </b> </span>
        </p>

    </div>


    <!--Footer  Bitiş-->






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>