

<section class="p-5 text-center urunler" id="Urunler">

    <div class="container">

        <h2 class="mb-5 font-weight-bold">Modeller</h2>

        <hr class="ayrac" /> <i class="fa-solid fa-leaf ibeyaz"></i>

        <div class="row">

            <div class="col-md-3">
                <figure class="figure">
                    <a href="~/assets/img/r1.jpg">

                        <img src="~/assets/img/r1.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </a>
                </figure>
            </div>
            <div class="col-md-3">
                <figure class="figure">
                    <a href="~/assets/img/r1.jpg">
                        <img src="~/assets/img/r1.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </a>
                </figure>
            </div>
            <div class="col-md-3">
                <figure class="figure">
                    <a href="~/assets/img/r1.jpg">
                        <img src="~/assets/img/r1.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </a>
                </figure>
            </div>
            <div class="col-md-3">
                <figure class="figure">
                    <a href="~/assets/img/r1.jpg">
                        <img src="~/assets/img/r1.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </a>
                </figure>
            </div>


        </div>
        <div class="row">

            <div class="col-md-3">
                <figure class="figure">
                    <a href="~/assets/img/r1.jpg">
                        <img src="~/assets/img/r1.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </a>
                </figure>
            </div>
            <div class="col-md-3">
                <figure class="figure">
                    <a href="~/assets/img/r1.jpg">
                        <img src="~/assets/img/r1.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </a>
                </figure>
            </div>
            <div class="col-md-3">
                <figure class="figure">
                    <a href="~/assets/img/r1.jpg">
                        <img src="~/assets/img/r1.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </a>
                </figure>
            </div>
            <div class="col-md-3">
                <figure class="figure">
                    <a href="~/assets/img/r1.jpg">
                        <img src="~/assets/img/r1.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </a>
                </figure>
            </div>


        </div>

    </div>



</section>


<!--Ürünler Bitiş-->